{% extends "blog/layout.html" %}
{% load static %}
{% block title %}About Us | QuickBlog{% endblock %}

{% block content %}

<div class="col-sm-10 mx-auto mt-5">
    <h1 class="text-white mb-4">About QuickBlog</h1>
    <p class="text-light fs-5">
        Welcome to <strong>QuickBlog</strong>, your platform for sharing and discovering unique perspectives and stories. Whether you're here to express your own ideas or explore the experiences of others, QuickBlog offers an intuitive and engaging space for all. Our mission is to cultivate a community where creativity and insight thrive, making it effortless for users to connect, inspire, and be inspired. Join us on this journey, and let your voice become part of a vibrant, ever-growing stream of thoughts.
    </p>
</div>

{% endblock %}
