<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
    </style>
    {% block head %}
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% endblock %}
</head>
<body>
    <div class="container-fluid bg-dark">

        {% include "blog/navbar.html" %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block msg %}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            {% block side %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    </div>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>